.App {
  min-height: 100vh;
  background-color: #282c34;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: white;
}
.App-header p {
  margin-bottom: 0;
} 
.App-header span {
  font-size: 16px;
  color: tomato;
} 

.appContent {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}